/*
Fonts, using in website:
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
;
*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body { margin: 0; border: 0; padding: 0; outline: 0; vertical-align: baseline; background: transparent; font: normal 400 16px/24px 'Open Sans', sans-serif; color: #424242;-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
input, button { -webkit-appearance: none; outline: none;}
h1, h2, h3, h4, h5, h6 { font-weight:normal;}
ol, ul, li { list-style: none; margin: 0; padding: 0;}
img { max-width: 100%; border: none; outline: none;}
a, a:link, a:visited { color: #0264a9; font-weight: normal; text-decoration: none; outline: none;}

/*p { margin: 48px 0px;}*/
h2 { margin: 0; font: 41px 'Roboto', sans-serif; color: #424242;}
h4 { font: 22px 'Open Sans', sans-serif; color: #424242;}

.container { position: relative; width: 100%; max-width: 1900px; margin: 0 auto;}
.container_inner { width: 100%; max-width: /*1088px*/1100px; margin: 0 auto; padding: 0 6px;}
.container_inner:after { content: ' '; display: block; clear: both;}
.container_nav { 
	background: rgba(0,93,19,1.0);
	background: -moz-linear-gradient(top, rgba(0,93,19,0.76) 0%, rgba(0,93,19,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,93,19,0.76) 0%, rgba(0,93,19,1) 100%);
	background: -o-linear-gradient(top, rgba(0,93,19,0.76) 0%, rgba(0,93,19,1) 100%);
	background: linear-gradient(to bottom, rgba(0,93,19,0.76) 0%, rgba(0,93,19,1) 100%);
}

header a.logo { float: left; margin: 16px 0 12px;}
header a.logo img { float: left;}
header a.logo p, header a.logo h1 { float: left; margin: 0; padding-left: 16px; line-height: 63px; font: 400 24px/63px 'Josefin Sans', sans-serif; color: #003C0C; text-transform: uppercase;}
header .social { float: right;}
header .social p { margin: 0; font-size: 14px;}
header .social p i { padding-right: 6px;}
header .social select { float: right; width:80px; margin-top: 12px; padding-left: 15px; border: 0; font: 16px/34px 'Open Sans', sans-serif; color: #424242; outline:none; background: #FBFBFB url(../img/select_arrow.png) 57px center no-repeat; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
header .social ul { float: right; margin: 16px 30px 0 0;}
header .social ul li { display: inline-block; margin-right: 12px;}
header .social ul li:last-child { margin-right: 0;}
header .social ul li a { color: #424242;}
header .search_form { float: right; margin: 11px;}
header .search_form:after { content: ' '; display: block; clear: both;}
header .search_form input, header .search_form button { float: left; display: block; height: 28px; border: none;}
header .search_form input { width: 180px; padding: 4px 0 4px 14px;}
header .search_form button { background: #fff;}
header .search_form button>i { color: #424242; font-size: 16px;}
header .search_form input::-webkit-input-placeholder { font: 14px 'Open Sans', sans-serif; color: #424242; opacity: 1; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header .search_form input::-moz-placeholder { font: 14px 'Open Sans', sans-serif; color: #424242; opacity: 1; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header .search_form input:-moz-placeholder { font: 14px 'Open Sans', sans-serif; color: #424242; opacity: 1; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header .search_form input:-ms-input-placeholder { font: 14px 'Open Sans', sans-serif; color: #424242; opacity: 1; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header .search_form input:focus::-webkit-input-placeholder { opacity: 0; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header .search_form input:focus::-moz-placeholder { opacity: 0; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header .search_form input:focus:-moz-placeholder { opacity: 0; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header .search_form input:focus:-ms-input-placeholder { opacity: 0; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header #main_menu {}
header #main_menu ul {}
header #main_menu ul:after { content: ' '; display: block; clear: both;}
header #main_menu ul li { float: left; display: inline-block; position: relative; height: 50px;}
header #main_menu ul li:after { content: ' '; display: block; position: absolute; top: 0; right: 0; height: 50px; border-left: 1px solid #014910; border-left-style: ridge; } 
header #main_menu ul li:last-child:after { border-left: none;}
header #main_menu ul li a { padding: 15px 30px 16px; font-size: 14px; color: #fff;  line-height: 50px; text-transform: uppercase;}

.main_image { background: #fff url(../img/main_image.png) center center no-repeat; background-size: cover;}
.main_image .image_text { float: right; max-width: 567px; margin: 100px 0 124px;
	background: rgba(10,102,29,1.0);
	background: -moz-linear-gradient(left, rgba(10,102,29,0.52) 0%, rgba(10,102,29,0.86) 25%, rgba(10,102,29,1) 50%, rgba(10,102,29,1) 100%);
	background: -webkit-linear-gradient(left, rgba(10,102,29,0.52) 0%, rgba(10,102,28,0.86) 25%, rgba(10,102,29,1) 50%, rgba(10,102,29,1) 100%);
	background: -o-linear-gradient(left, rgba(10,102,29,0.52) 0%, rgba(10,102,28,0.86) 25%, rgba(10,102,29,1) 50%, rgba(10,102,29,1) 100%);
	background: linear-gradient(to right, rgba(10,102,29,0.52) 0%, rgba(10,102,29,0.86) 25%, rgba(10,102,29,1) 50%, rgba(10,102,29,1) 100%);
}
.main_image .image_text:after { content: ' '; display: block; clear: both;}
.main_image .image_text p { margin: 0; padding: 32px 42px; font: 24px/36px 'Roboto', sans-serif; color: #fff; background: url(../img/main_image_backrico.png) right bottom no-repeat;}

.about_us { position: relative; padding: 91px 0 64px; text-align: center; background: #fff;}
.about_us p { margin-bottom: 24px; text-indent: 12px;}
.about_us h2 { margin-bottom: 32px; line-height: 1;}
.about_us h2 + p { font-size: 20px; line-height: 32px;}
.about_us h4 { margin: 74px 0 15px; font-size: 24px; font-weight: 700;}
.about_us h4:before { content: ' '; display: block; position: absolute; left: 50%; width: 14px; height: 14px; margin-left: -7px; margin-top: -44px; border-radius: 50%; background-color: #C6C6C6;}
.about_us h4:after { content: ' '; display: block; position: absolute; left: 50%; width: 160px; height: 1px; margin-left: -80px; margin-top: -71px;background-color: #C6C6C6;}
.about_us .img {}
.about_us .img img { padding: 12px 42px; vertical-align: middle;}

#what_we_offer { padding: 91px 0 26px; text-align: center; background: #FAFAFA;}
#what_we_offer h2 { margin-bottom: 52px; line-height: 1;}
#what_we_offer .offer_item { float: left; width: 30%; margin-bottom: 38px;}
#what_we_offer .offer_item h4 { margin: 15px 0 0 0;}
#what_we_offer .offer_item p { margin-top: 8px; padding: 0 18px;}
.left-5 { margin-left: 5%;}
.left-10 { margin-left: 10%;}
.left-15 { margin-left: 15%;}

#documentation { padding: 91px 0 89px; text-align: center; background: #fff;}
#documentation h2 { margin-bottom: 32px; line-height: 1;}
#documentation h2 + p { font-size: 20px; line-height: 32px;}
#documentation .accordion { position: relative;}
#documentation .accordion .accord_item { margin-top: 70px;}
#documentation .accordion .accord_item:after { content: ' '; display:block; position: absolute; left: 0; width: 100%; height: 1px; margin-top: 34px; background-color: #C6C6C6;}
#documentation .accordion .accord_item:last-of-type:after { display: none;}
#documentation .accordion .accord_item h4 { margin-bottom: 0; padding: 6px 6px 6px 50px; text-align: left; font-size: 22px; color: #248037; background: url(../img/icon_document.png) left center no-repeat; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
#documentation .accordion .accord_item h4:hover, 
#documentation .accordion .accord_item h4:active { cursor: pointer; opacity: 0.7; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
#documentation .accordion .accord_item .accord_content { display: none; padding-top: 34px; text-align: left;}
#documentation .accordion .accord_item:first-of-type .accord_content { display: block;}
#documentation .accordion .accord_item .accord_content:after { content: ' '; display: block; clear: both;}
#documentation .accordion .accord_item .accord_content img { float: left; width: 23.5%; margin-left: 2%;}
#documentation .accordion .accord_item .accord_content img:first-child { margin-left: 0;}


