/*
Fonts, using in website:
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
;
*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body { margin: 0; border: 0; padding: 0; outline: 0; vertical-align: baseline; background: transparent; font: normal 400 16px/24px 'Open Sans', sans-serif; color: #424242;-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
input, button { -webkit-appearance: none; outline: none;}
h1, h2, h3, h4, h5, h6 { font-weight:normal;}
ol, ul, li { list-style: none; margin: 0; padding: 0;}
img { max-width: 100%; border: none; outline: none;}
a, a:link, a:visited { color: #0264a9; font-weight: normal; text-decoration: none; outline: none;}

p { margin: 48px 0px;}

.container { width: 100%; max-width: 1900px; margin: 0 auto;}
.container_inner { width: 100%; max-width: /*1088px*/1100px; margin: 0 auto; padding: 0 6px;}
.container_inner:after { content: ' '; display: block; clear: both;}
.container_nav { 
	background: background: rgba(0,93,19,0.76);
	background: -moz-linear-gradient(top, rgba(0,93,19,0.76) 0%, rgba(0,93,19,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,93,19,0.76)), color-stop(100%, rgba(0,93,19,1)));
	background: -webkit-linear-gradient(top, rgba(0,93,19,0.76) 0%, rgba(0,93,19,1) 100%);
	background: -o-linear-gradient(top, rgba(0,93,19,0.76) 0%, rgba(0,93,19,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,93,19,0.76) 0%, rgba(0,93,19,1) 100%);
	background: linear-gradient(to bottom, rgba(0,93,19,0.76) 0%, rgba(0,93,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005d13', endColorstr='#005d13', GradientType=0 );
}

header a.logo { float: left; margin: 16px 0 12px;}
header a.logo img { float: left;}
header a.logo p { float: left; margin: 0; padding-left: 16px; line-height: 63px; font: 400 24px/63px 'Josefin Sans', sans-serif; color: #003C0C; text-transform: uppercase;}
header .social { float: right;}
header .social p { margin: 0; font-size: 14px;}
header .social p i { padding-right: 6px;}
header .social select { float: right; width:80px; margin-top: 12px; padding-left: 15px; border: 0; font: 16px/34px 'Open Sans', sans-serif; color: #424242; outline:none; background: #FBFBFB url(../img/select_arrow.png) 57px center no-repeat; -webkit-appearance: none; appearance: none;}
header .social ul { float: right; margin: 16px 30px 0 0;}
header .social ul li { display: inline-block; margin-right: 12px;}
header .social ul li:last-child { margin-right: 0;}
header .social ul li a { color: #424242;}
header .search_form { float: right; margin: 11px 0;}
header .search_form:after { content: ' '; display: block; clear: both;}
header .search_form input, header .search_form button { float: left; display: block; height: 28px; border: none;}
header .search_form input { padding: 8px 0 8px 14px;}
header .search_form button { background: #fff;}
header .search_form button>i { color: #424242; font-size: 16px;}
header .search_form input::-webkit-input-placeholder { font: 14px 'Open Sans', sans-serif; color: #424242; opacity: 1; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header .search_form input::-moz-placeholder { font: 14px 'Open Sans', sans-serif; color: #000; opacity: 1; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header .search_form input:-moz-placeholder { font: 14px 'Open Sans', sans-serif; color: #000; opacity: 1; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header .search_form input:-ms-input-placeholder { font: 14px 'Open Sans', sans-serif; color: #000; opacity: 1; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header .search_form input:focus::-webkit-input-placeholder { opacity: 0; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header .search_form input:focus::-moz-placeholder { opacity: 0; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header .search_form input:focus:-moz-placeholder { opacity: 0; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header .search_form input:focus:-ms-input-placeholder { opacity: 0; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header #main_menu {}
header #main_menu ul {}
header #main_menu ul:after { content: ' '; display: block; clear: both;}
header #main_menu ul li { float: left; display: inline-block; position: relative; height: 50px; line-height: 50px;}
header #main_menu ul li:after { content: ' '; display: block; position: absolute; top: 0; right: 0; height: 50px; width: 1px; background: #185F26;}
header #main_menu ul li:last-child:after { width: 0;}
header #main_menu ul li a { padding: 15px 30px; font-size: 14px; color: #fff; text-transform: uppercase;}